@font-face {
	font-family: HelveticaNeueItalic;
	src: url('fonts/HelveticaNeueItalica.ttf');
}

@font-face {
	font-family: HelveticaNeueUltraLight;
	src: url('fonts/HelveticaNeueUltraLight.ttf');
}

@font-face {
	font-family: HelveticaNeueMedium;
	src: url('fonts/HelveticaNeueMedium.ttf');
}

@font-face {
	font-family: HelveticaNeueLight;
	src: url('fonts/HelveticaNeueLt.ttf');
}

@font-face {
	font-family: HelveticaNeueBold;
	src: url('fonts/HelveticaNeueBd.ttf');
}

@font-face {
	font-family: HelveticaNeue;
	src: url('fonts/HelveticaNeue.ttf');
}

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
	font-family: HelveticaNeue;
}

.hero-image {
	position: relative;
	height: 100vh;
	overflow: hidden;
	background: url(img/group.jpg) no-repeat center;
	background-size: cover;
}
.hero-image svg{
	position: absolute;
	left: 36px;
	top: 35px;	
}
.container {
	position: absolute;
	top: 0;
	left: 109px;
	height: 100%;
	width: 100vw;
	border-left: 1px solid #fff;
	color: #fff;
}
nav{
	display: flex;
	justify-content: space-between;
	width: 90%;
	height: 37px;
	margin-top: 44px;
	font-size: 16px;
	letter-spacing: 1.4px;	
}
nav ul{
	list-style: none;
}
nav ul li{
	display: inline-block;
	cursor: pointer;
	margin-right: 50px;
}
li.active{
	font: ;
}